:root {
    --pcolor: #302326;
    --scolor: #faeadd;
    --dcolor: #ffa500;
    --d2color: #8fcdd4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* HEADER */

header {
    margin: 5px 0 5px 0;
    display: flex;
    justify-content: space-around;
}

.imgLinguaHeader {
    width: 80px;
    border-radius: 10px;
}

header button {
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: var(--dcolor);
    color: var(--pcolor);
    border: 2px solid transparent;
    padding: 0.4rem 1rem;
    cursor: pointer;
    transition: border 0.2s ease;
    margin: 0 5px 0 5px;
}

header button:hover {
    border: 2px solid var(--pcolor);
}
/* /HEADER */

/* PRINCIPAL */

.divPrincipal {
    position: absolute;
    padding: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnPrincipal {
    border-radius: 10px;
    background-color: var(--dcolor);
    color: var(--pcolor);
    border: 2px solid transparent;
    padding: 0.4rem 1rem;
    margin: 10px 0 0 0;
    cursor: pointer;
    transition: border 0.2s ease;
    width: 100%;
}

.btnPrincipal:focus, .btnPrincipal:hover{
    border: 2px solid var(--pcolor);
}

/* /PRINCIPAL */

/* PEGADINHA MALANDRO */

.bobo {
max-width: 90%;
width: 350px;
padding: 20px;
text-align: center;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

.pBobo {
    margin-bottom: 10px;
    color: var(--pcolor);
    text-transform: uppercase;
}

.imgBobo {
    border: 2px solid var(--pcolor);
    width: 300px;
}

/* /PEGADINHA MALANDRO */

/* TUDO */

.all {
    margin: 20px;
    text-align: center;
}

/* EQUIPE */

.equipe {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 150px;
}

.equipe h2 {
    position: relative;
}

.imgPerfil {
    position: absolute;
    width: 250px;
}

.imgContatos {
    position: relative;
    width: 50px;
    border-radius: 10px;
    top: 100%;
}

/* /EQUIPE */

/* FORM CONTATO */

.contato {
    margin-top: 20px;
}

form label {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

form {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: var(--scolor);
    border-radius: 10px;
    width: 550px;
}

form input {
    width: 100%;
    height: 45px;
    border: 2px solid var(--pcolor);
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    transition: border 0.1s ease;
}

form input:focus {
    border: 2px solid var(--dcolor);
}

form textarea {
    width: 100%;
    height: 150px;
    border: 2px solid var(--pcolor);
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    transition: border 0.1s ease;
    resize: none;
}

form textarea:focus {
    border: 2px solid var(--dcolor);
}

form button {
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--dcolor);
    color: var(--pcolor);
    border: 2px solid transparent;
    padding: 0.4rem 1rem;
    margin-left: 50%;
    transform: translate(-50%);
    margin-right: auto;
    cursor: pointer;
    transition: border 0.2s ease;
}

form button:focus, form button:hover{
    border: 2px solid var(--pcolor);
}

/* /FORM CONTATO */

/* FORMULÁRIO */

.form {
    max-width: 500px;
    width: 70%;
    height: auto;
    padding: 20px;
    background-color: var(--scolor);
    border-radius: 10px;
    border: 2px solid var(--dcolor);
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.form h3 {
    text-align: center;
    color: var(--pcolor);
    font-size: 30px;
}

.form label {
    cursor: pointer;
}

.form input[type=text] {
    width: 100%;
    height: 45px;
    border: 2px solid var(--pcolor);
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    transition: border 0.1s ease;
}

.form input[type=text]:focus {
    border: 2px solid var(--dcolor);
}

.form input[type=text]::placeholder {
    color: rgb(65, 41, 47, 0.5);
}

.form button {
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--dcolor);
    color: var(--pcolor);
    border: 2px solid transparent;
    padding: 0.4rem 1rem;
    margin-left: 50%;
    transform: translate(-50%);
    margin-right: auto;
    cursor: pointer;
    transition: border 0.2s ease;
}

.form button:focus {
    border: 2px solid var(--pcolor);
}

/* /FORMULÁRIO */

/* CARDS */

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
    width: 80%;
    margin: 10px auto 0 auto;
}

.cards h2, .cards p {
    margin: 10px 0 10px 0;
    width: 100%;
    word-break: break-word;
}

.cards img {
    max-width: 500px;
    width: 95%;
    margin: 10px 0 10px 0;
    word-break: break-word;
}

.divfofoca {
    border: 1px solid var(--pcolor);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.divfofoca img {
    max-width: 300;
}

/* /CARDS */

/* /TUDO */